html {
  font-size: 62.5%;
}

@font-face {
  src: url(../font/Montserrat-Medium.ttf);
  font-family: Montserrat;
}
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 1440px;
}

header .logo img {
  position: absolute;
  left: 8.13%;
  right: 8.13%;
  top: 0%;
  bottom: 0%;
  padding: 26px 0;
  width: 70%;
}
header .nav-bar {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 66px;
  position: absolute;
  right: 56px;
}

header .nav-bar ul li {
  padding: 30px 60px;
}

header .nav-bar ul li a {
  color: #fa4a0c, 100% !important;
}
